<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.abunka.multipleappmodules">

    <application
        android:name="me.abunka.multipleappmodules.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="me.abunka.multipleappmodules.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="me.abunka.multipleappmodules.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.abunka.multipleappmodules.feature1.ActivityB"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="me.abunka.multipleappmodules.feature1.ActivityC"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>