<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.abunka.multipleappmodules.feature2app">

    <application
        android:name="me.abunka.multipleappmodules.feature2app.Feature2Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="me.abunka.multipleappmodules.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.abunka.multipleappmodules.feature2app.ActivityD"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="me.abunka.multipleappmodules.feature2.ActivityE"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="me.abunka.multipleappmodules.feature2.ActivityF"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
